.faq-item-wrapper {
  width: 100%;
  min-height: 72px;
  height: fit-content;
  opacity: 1;

  border: 1px solid #EBEBEB;
  border-radius: 8px;
  background-color: #FFFFFF;
  padding: 24px;
}

section.faq details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  cursor:pointer;
}

.faq-item-wrapper p {
  margin-top: 24px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: #737373;
}

section.faq summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
section.faq details > summary {
  list-style: none;
}
section.faq details > summary::-webkit-details-marker {
  display: none;
}
section.faq summary::after {
  content: url('../../assets/icons/plus-circle.svg'); 
  margin-right: 5px;
  width: 15px;
  height: 15px;
}

section.faq details[open] summary::after {
  content: url('../../assets/icons/minus-circle.svg');
}
