section.featured-collection {
  min-height: 588px;
  opacity: 1;
  padding: 80px 60px; /*counted padding from top left css properties of previous sections*/
}

.featured-collection-wrapper {
  height: 468px;
  gap: 48px;
}
.featured-collection-wrapper h2 {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0;
  text-align: center;
  color: #111111;
  margin-bottom: 48px;
}

.product-list {
  height: fit-content;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next {
  background-image: url('/src/assets/icons/arrow.svg') !important;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 40px;
  height: 40px;
}

.swiper-button-next::after {
  display: none;
  }

.product-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 16px;
}
.product-image-wrapper {
  overflow: hidden;
  max-width: 312px;
  max-height: 312px;
  border-radius: 8px;
}
.product-image-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
}

.product-info p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
}
.product-info p.product-name {
  color: #111111;
}
.product-info p.product-price {
  color: #737373;
}
