footer {
  padding-top: 60px;
  padding-right: 60px;
  padding-bottom: 24px;
  padding-left: 60px;
  background-color: #FFFFFF;
}

.footer-section, .footer-bottom {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  margin: auto;

  padding: 0 16px;
}

.footer-section-container {
  padding: 16px 0;
  width: 100%;
}

.footer-section-container p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
}

.footer-section-container ul, .link-bottom-container ul {
  list-style: none;
  padding-left: 0;
}
.footer-section-container li {
  margin-top: 12px;
}
.footer-section-container a, .link-bottom-container a, .copyright {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  color: #737373;
}


.footer-bottom, .link-bottom-container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
  gap: 12px;

  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
}
.link-bottom-container li {
  align-items: flex-start;
  padding-right: 20px;
}

@media (min-width: 1280px) {
  .footer-section-container {
    flex-basis: 25%;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .footer-section-container {
    flex-basis: 50%;
  }
}
@media (max-width: 768px) {
  footer {
    padding-right: 16px;
    padding-bottom: 24px;
    padding-left: 16px;

  }
  .footer-section, .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-section-container {
    flex-basis: 100%;
    padding: 10px;
  }

  footer .footer-section-container summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  footer details > summary {
    list-style: none;
  }
  footer details > summary::-webkit-details-marker {
    display: none;
  }
  footer summary::after {
    content: url('/src/assets/icons/top-small.svg'); 
    margin-right: 5px;
    width: 15px;
    height: 15px;
  }
  
  footer details[open] summary::after {
    content: url('/src/assets/icons/down-small.svg');
  }

  .footer-bottom, .link-bottom-container ul {
    flex-direction: column;
  }
}
