
header {
  margin: 0;
  padding: 30px 60px;
  background-color: #ffffff;
}

.header-container {
  display:flex;
  align-items: center;
  justify-content: space-between;
  
  margin: 16px 8px;
}

nav > ul {
  display:flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  column-gap: 32px;
}

ul a {
  line-height: 24px;
  color: #111111;
  text-decoration: none;
}
